@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  background-color: #363636;
  color: white;
  padding: 20px;
  margin: 0;
}

h1 {
  text-align: center;
  margin-top: 20px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 2.5rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.section {
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin: 10px;
  transition: transform 0.3s ease-in-out;
  position: relative;
  color: white;
  background-color: #292929;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section:hover {
  transform: scale(1.1);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  background-color: #313131;
}

label {
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  margin-bottom: 8px;
  margin-top: 10px;
  display: block;
  color: white;
  font-size: 1rem;
}

input,
select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 100%;
  margin-bottom: 14px;
  background-color: #666; /*fff */
  color: #fff; /*333 */
  font-size: 1rem;
}

.radio-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.radio-container input[type="radio"] {
  display: none;
}

.radio-container label:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #777;
  border-radius: 50%;
  position: relative;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  margin-right: 5px;
  margin-bottom: -5px;
}

.radio-container label {
  position: relative;
  cursor: pointer;
  margin-left: 30px;
  display: inline-block;
}

.radio-container input[type="radio"]:checked+label:before {
  background-color: #05db44;
  border: 2px solid #ffffff;
  transform: scale(1.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.radio-container input[type="radio"]:not(:checked)+label:before {
  background-color: #333;
  border: 2px solid #777;
}

input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #333;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s, background-color 0.3s, transform 0.2s;
}


input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #222;
  outline: #fff;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

input[type="range"]:hover::-webkit-slider-thumb {
  background: #05db44;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #222;
  outline: #fff;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

input[type="range"]:hover::-moz-range-thumb {
  background: #05db44;
}

.noInput {
  background: #444;
}

#output {
  background-color: #444;
  border: 1px solid #fff;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.checkbox-container {
  display: flex;
  align-items: left;
  width: 15%;
}
.checkbox-container input[type="checkbox"] {
  margin-top: 20px;
  margin-left: 3px;
  flex: 0 0 auto;
  width: 15px; 
  height: 15px; 
}

label {
  margin-left: 5px;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: #333;
  color: #f8f8f8;
}

#page-container {
  position: relative;
  min-height: 100vh;
  width: 99%;
  padding: 25px
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; /* Footer height */
  background-color: #333;
  color: #f8f8f8;
}

#page-container a:link {
  color: #05db44;
  background-color: transparent;
  text-decoration: none;
}

#page-container a:visited {
  color: #09c372;
  background-color: transparent;
  text-decoration: none;
}

#page-container a:hover {
  color: #66FF00;
  background-color: transparent;
  text-decoration: underline;
}

#brand a:hover {
  color: #66FF00;
  background-color: transparent;
  text-decoration: none;
}

header a {
  text-decoration: none;
}

header {
  padding: 0 20px;
  background-color: #1d1f1d;
  height: 50px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

#brand {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
}

#brand a {
  color: #05db44;
}
